# Django configuration

DEBUG=True
SECRET_KEY= ## dotenver:password(length=50, special_chars=False)

# Admin credentials
# Logging in with these credentials will create a user admin
ADMIN_USER=admin
ADMIN_PASSWORD= ## dotenver:password(special_chars=False)

# Python log level for root looger with console output.
# https://docs.python.org/3/library/logging.html#levels
LOG_LEVEL
# Python log level for Django Database looger with console output.
# https://docs.python.org/3/library/logging.html#levels
DB_LOG_LEVEL

# IPs to be considered safe.
INTERNAL_ADDRESSES=127.0.0.1 172.0.0.0/255.0.0.0 192.168.0.0/255.255.0.0

# Hosts for which requests will be served.
ALLOWED_HOSTS=localhost

# Database settings and credentials
DATABASE_NAME=mysite
DATABASE_USER=mysite
DATABASE_PASSWORD= ## dotenver:password:db_password(special_chars=False)
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

# From email addresses
SERVER_EMAIL
DEFAULT_FROM_EMAIL

# SMTP settings and credentials
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=127.0.0.1
EMAIL_PORT=1025
EMAIL_USE_TLS
EMAIL_HOST_USER
EMAIL_HOST_PASSWORD

# Storage
# DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage
# DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
# AWS_S3_REGION_NAME=us-east-1
# AWS_ACCESS_KEY_ID
# AWS_SECRET_ACCESS_KEY
# AWS_STORAGE_BUCKET_NAME
# AWS_S3_CUSTOM_DOMAIN
# AWS_QUERYSTRING_AUTH=False
# AWS_LOCATION= ## dotenver:uuid4()

# List of admin emails separated by spaces
ADMINS
# List of admin emails separated by spaces
MANAGERS

# Better development with ipdb
# PYTHONBREAKPOINT=ipdb.set_trace

# Domain allowed in robots
ROBOTS_ALLOW_HOST

# SASS Config, can use compact, compressed, expanded, o nested
SASS_OUTPUT_STYLE='nested'